@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #edf2f4;
}

#set-select {
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
}

#explore-set,
#display-deck-button {
  padding: 5px;
  background-color: #457b9d;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 2px 2px 2px #edf2f4;
}

#explore-set:hover,
#display-deck-button:hover {
  background-color: #a8dadc;
  color: black;
}

.wrapper {
  width: min(1200px, 100% - 3rem);
  margin: 20px auto;
  padding: 20px;
}

header {
  padding: 20px;
  background-color: #1d3557;
  color: #f1faee;
  border-bottom: black;
  border-style: solid;
  box-shadow: 0px 10px 5px lightgray;
}

#set-name {
  text-shadow: 1px 1px lightgray;
}

#card-list-table {
  display: none;
  width: 100%;
  box-shadow: 10px 5px 5px lightgray;
  border-radius: 12px 12px 0 0;
  border: 3px solid black;
  border-collapse: separate;
  border-spacing: 0;
}

th,
td {
  padding: 1rem;
}

caption,
th {
  text-align: left;
}

caption {
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
}

th {
  background: #1d3557;
  color: white;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

td {
  vertical-align: text-top;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
}

tbody {
  background-color: white;
}

tr:nth-of-type(2n) {
  background: hsl(0 0% 0% / 0.1);
}

.table-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

#show-more-btn {
  display: none;
  padding: 5px;
  background-color: #457b9d;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 2px 2px 2px #1d3557;
  align-self: end;
  width: 70px;
  margin-top: 5px;
}

#show-more-btn:hover {
  background-color: #a8dadc;
  color: black;
}

.card-color {
  display: flex;
}

.name {
  text-align: left;
}

.alchemy-sign {
  height: 12px;
}

.mana-symbol {
  height: 14px;
  box-shadow: none;
}

.mana-cost {
  display: flex;
  justify-content: flex-end;
}

.card-name {
  text-decoration: underline;
  color: blue;
  text-align: left;
}

.card-name:hover {
  color: lightskyblue;
  cursor: pointer;
}

.table-number {
  text-align: right;
}

.expanded-info-card {
  width: 50vw;
  display: none;
  margin: 20px;
  gap: 20px;
}

.expanded-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

#card-image1,
#card-image2 {
  height: 50vh;
  box-shadow: 10px 5px 5px lightgray;
  border-radius: 5px;
}

#card-image2 {
  display: none;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.rotate {
  animation: rotate 3s 1;
}

.add-card-deck,
.remove-card-deck,
.transform {
  min-width: 30px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 10px 5px 5px lightgray;
  cursor: pointer;
}

.add-card-deck:hover {
  background-color: #3454d1;
  color: white;
}

.remove-card-deck:hover {
  background-color: #d1345b;
  color: white;
}

.transform:hover {
  background-color: blueviolet;
  color: white;
}

.expanded-right {
  display: flex;
  flex-direction: column;
  border: 2px solid gainsboro;
  border-top: 3px solid black;
  border-radius: 10px;
  padding: 20px 20px 20px 50px;
  background-color: white;
  box-shadow: 10px 5px 5px lightgray;
  min-width: 400px;
}

.card-info-text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  text-align: justify;
  border-bottom: 2px solid gainsboro;
}

#deck-display-area {
  display: flex;
  justify-content: flex-start;
  border: 2px solid gainsboro;
  border-top: 3px solid black;
  border-radius: 10px;
  padding: 20px 20px 20px 50px;
  background-color: white;
  box-shadow: 10px 5px 5px lightgray;
  margin-top: 15px;
  gap: 50px;
}

#deck-display-left {
  display: flex;
  flex-direction: column;
  width: 20%;
  font-style: italic;
}

.type-quantity-container {
  margin-top: 10px;
}

.type-quantity {
  border-bottom: 2px solid gainsboro;
}

#deck-display-right {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.deck-card-container {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  border-bottom: 2px solid gainsboro;
  margin-top: 5px;
}

.deck-card-container:last-child {
  border-bottom: none;
}

.card-deck {
  font-size: 0.9rem;
}

.deck-card-types {
  margin-top: 5px;
}
