@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.125rem;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  background-color: #edf2f4;
}

header {
  padding: 20px;
  background-color: #1d3557;
  color: #f1faee;
  border-bottom: 3px solid black;
  border-style: solid;
  box-shadow: 0px 10px 5px lightgray;
  min-width: 100vw;
}

#title:hover {
  cursor: pointer;
}

.set-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.set-image {
  height: 30px;
  cursor: pointer;
}

.set-image:hover {
  height: 40px;
}

select {
  padding: 5px;
  border: 2px solid gray;
  border-radius: 5px;
  width: 50%;
}

#explore-set,
#display-deck-btn,
#filter-btn,
#filter-form-btn,
#cancel-btn {
  padding: 5px;
  background-color: #457b9d;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 2px 2px 2px #edf2f4;
  min-width: 120px;
}

#explore-set:hover,
#display-deck-btn:hover,
#filter-form-btn:hover,
#cancel-btn:hover,
#filter-btn:hover {
  background-color: #a8dadc;
  color: black;
}

.header-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.header-btns {
  display: flex;
  gap: 5px;
}

#filter-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid gainsboro;
  border-top: 3px solid black;
  border-radius: 10px;
  padding: 20px 20px 20px 50px;
  background-color: whitesmoke;
}

#filterForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 0.9rem;
}

.form-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.power-toughness-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

input[type="text"] {
  padding: 5px;
  border: 2px solid gray;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
}

input[type="checkbox"] {
  border: 2px solid black;
  height: 20px;
  width: 20px;
}

input[type="number"] {
  border: 2px solid gray;
  height: 30px;
  width: 70px;
}

#filter-btns {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.wrapper {
  width: min(1300px, 100% - 3rem);
  margin: 20px auto;
  padding: 20px;
  flex: 1 0 auto;
}

#colors,
#rarity {
  display: flex;
  align-items: center;
  gap: 5px;
}

#loader-image {
  display: none;
  width: 50px;
  height: 50px;
  margin: 10px auto;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#set-name {
  margin-bottom: 10px;
}

#card-list-table {
  display: none;
  width: 100%;
  box-shadow: 10px 5px 5px lightgray;
  border-radius: 12px 12px 0 0;
  border: 3px solid black;
  border-collapse: separate;
  border-spacing: 0;
}

thead tr {
  position: sticky;
  opacity: 0.9;
  top: 0;
}

th,
td {
  padding: 1rem;
}

caption,
th {
  text-align: left;
}

caption {
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
}

th {
  background-color: #1d3557;
  color: white;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

th:hover {
  background-color: #457b9d;
  border-radius: 10px;
}

td {
  vertical-align: text-top;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
}

tbody {
  background-color: whitesmoke;
}

tr:nth-of-type(2n) {
  background: hsl(0 0% 0% / 0.1);
}

.card-color {
  display: flex;
}

.name {
  text-align: left;
}

.alchemy-sign {
  height: 12px;
}

.mana-symbol {
  height: 14px;
  box-shadow: none;
}

.mana-cost {
  display: flex;
  justify-content: flex-end;
}

.card-name {
  text-decoration: underline;
  color: blue;
  text-align: left;
}

.card-name:hover {
  color: lightskyblue;
  cursor: pointer;
}

.table-number {
  text-align: right;
}

.expanded-info-card {
  display: none;
  margin: 20px;
}

.expanded-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  border: 2px solid gainsboro;
  border-top: 3px solid black;
  border-right: 2px solid black;
  border-radius: 10px;
  padding: 20px 20px 20px 50px;
  background-color: whitesmoke;
  box-shadow: 10px 5px 5px lightgray;
}

#card-image1,
#card-image2 {
  max-height: 400px;
  max-width: 300px;
  box-shadow: 10px 5px 5px lightgray;
  border-radius: 5px;
}

#card-image2 {
  display: none;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.rotate {
  animation: rotate 3s 1;
}

.add-card-deck,
.remove-card-deck,
.transform {
  width: 250px;
  margin: 0 auto;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 10px 5px 5px lightgray;
  cursor: pointer;
}

.add-card-deck:hover {
  background-color: #3454d1;
  color: white;
}

.remove-card-deck:hover {
  background-color: #d1345b;
  color: white;
}

.transform:hover {
  background-color: blueviolet;
  color: white;
}

.expanded-right,
#welcome {
  display: flex;
  flex-direction: column;
  border: 2px solid gainsboro;
  border-top: 3px solid black;
  border-left: 1px solid black;
  border-radius: 10px;
  padding: 20px 20px 20px 50px;
  background-color: whitesmoke;
  box-shadow: 10px 5px 5px lightgray;
  width: 500px;
}
#welcome {
  width: 80vw;
  border-radius: 10% 10%;
  padding: 50px;
}

.card-info-text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  text-align: justify;
  border-bottom: 2px solid gainsboro;
}

#welcome {
  text-align: justify;
  font-size: 0.99rem;
}

#deck-display-area {
  display: none;
  justify-content: flex-start;
  border: 2px solid gainsboro;
  border-top: 3px solid black;
  border-radius: 10px;
  padding: 20px 20px 20px 50px;
  background-color: whitesmoke;
  box-shadow: 10px 5px 5px lightgray;
  margin-top: 15px;
  gap: 50px;
}

#deck-display-left {
  display: flex;
  flex-direction: column;
  width: 30%;
  border-right: 2px solid gainsboro;
  border-radius: 10px;
}

.type-quantity-container {
  margin-top: 10px;
  padding-right: 10px;
}

.type-quantity {
  display: flex;
  justify-content: flex-end;
  font-style: italic;
  border-bottom: 2px solid gainsboro;
  color: #1d3557;
}

.type-quantity:last-child {
  border: none;
}

.reset-deck-btn {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid black;
  margin-top: 5px;
  max-width: 120px;
  box-shadow: 2px 2px 2px #edf2f4;
}

.reset-deck-btn:hover {
  cursor: pointer;
  background-color: #d1345b;
  color: white;
}

#deck-display-right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.deck-card-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid gainsboro;
  margin-top: 5px;
}

.deck-card-container:last-child {
  border-bottom: none;
}

.card-deck {
  font-size: 0.9rem;
}

.deck-card-types {
  margin-top: 5px;
}

footer {
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  background-color: #1d3557;
  color: #f1faee;
  font-size: 18px;
  box-shadow: 0px -5px 5px lightgray;
  border-top: 3px solid black;
}

#github-icon {
  height: 18px;
}

@media (max-width: 400px) {
  #title {
    font-size: 2rem;
  }
}

@media (max-width: 900px) {
  .header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  th {
    display: none;
  }
  td {
    display: block;
    text-align: justify;
    padding: 5px;
  }
  td::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
  }
}

@media (max-width: 1030px) {
  .colors-wrapper {
    display: flex;
    flex-direction: column;
  }
  #colors {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  .power-toughness-value-wrapper {
    display: flex;
    flex-direction: column;
  }
  .rarity-wrapper {
    display: flex;
    flex-direction: column;
  }
  #rarity {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 850px) {
  .expanded-info-card {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 5px;
  }

  #card-image1,
  #card-image2 {
    margin: 0 auto;
    max-height: 350px;
    max-width: 250px;
  }
  .expanded-left {
    width: 85vw;
    padding: 20px;
  }

  .expanded-right {
    padding: 10px;
    width: 85vw;
  }
}

@media (max-width: 1000px) {
  #deck-display-area {
    display: none;
    flex-direction: column;
  }

  #deck-display-left {
    width: 100%;
  }
  #deck-display-right {
    width: 100%;
    text-wrap: wrap;
  }
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10vw;
  box-shadow: 2px 2px 2px #edf2f4;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  color: #1d3557;
  border: 2px solid #1d3557;
  border-radius: 5px;
}

#back-to-top:hover {
  background-color: #1d3557;
  color: white;
}
